:root {
   --scissors-light: hsl(40, 84%, 53%);
   --scissors-dark: hsl(39, 89%, 49%);
   --paper-light: hsl(230, 89%, 65%);
   --paper-dark: hsl(230, 89%, 62%);

   --rock-light: hsl(349, 70%, 56%);
   --rock-dark: hsl(349, 71%, 52%);

   --dark-text: hsl(229, 25%, 31%);
   --score-text: hsl(229, 64%, 46%);
   --header-outline: hsl(217, 16%, 45%);

   --radial-gradient-1: hsl(237, 49%, 15%);
   --radial-gradient-2: hsl(214, 47%, 23%);

   --win-1: #2b3956;
   --win-2: #263554;
   --win-3: #2b3957;
}

* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   width: 100vw;
   color: white;
   font: 22px "Barlow Semi Condensed", sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   overflow: hidden;
   background: radial-gradient(
      circle at top,
      var(--radial-gradient-2),
      var(--radial-gradient-1)
   );
}

h1 {
   font-size: 4rem;
}

h3 {
   height: 70px;
}

p {
   line-height: 1rem;
}

/* Global Styles */

.flex-container {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   justify-items: center;
   align-items: center;
}

#content-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* ==== Rules Pop Up ===== */

#rule-container {
   position: absolute;
   z-index: 10;
   background-color: rgba(0, 0, 0, 30%);
   width: 100%;
   height: 100%;
}

.rule-pop-up {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 10;
   transform: translate(-50%, -50%);
   max-width: 400px;
   width: 50%;
   background-color: white;
   border-radius: 10px;
   padding: 2rem 2rem 1rem;
}

.rule-pop-up h2 {
   color: var(--dark-text);
}

.image {
   margin: 3rem auto 2rem;
   width: 90%;
}

.image img {
   width: 100%;
}

#close-icon:hover {
   filter: brightness(0);
}

/* ==== Title and Scoreboard ===== */
.title-bar {
   border: 2px solid var(--header-outline);
   border-radius: 20px;
   padding: 1rem;
   width: 50%;
   margin: 20px auto 5vh;
   display: flex;
   justify-content: space-between;
}

.scoreboard {
   background-color: white;
   width: 20%;
   border-radius: 10px;
   text-align: center;
   color: var(--score-text);
   padding: 1rem;
}

.scoreboard h1 {
   color: var(--header-outline);
}

/* Player Turn Page */

.center-section {
   display: inline-block;
   height: 500px;
   width: 100%;
}

.triangle {
   grid-area: 1 / 1 / 1 / 1;
   z-index: -1;
   height: 60%;
}

.triangle-buttons {
   grid-area: 1 / 1 / 1 / 1;
}

.btn-container {
   justify-content: center;
}

.action {
   display: inline-block;
   margin: 1rem 3rem;
   border-radius: 50%;
   height: 15vw;
   min-height: 200px;
   width: 15vw;
   min-width: 200px;
   cursor: pointer;
}

#player-page .action:hover {
   filter: brightness(120%);
}

.paper {
   background-color: var(--paper-light);
   box-shadow: 0 7px 0 1px var(--paper-dark);
}

.scissors {
   background-color: var(--scissors-light);
   box-shadow: 0 7px 0 1px var(--scissors-dark);
}

.rock {
   background-color: var(--rock-light);
   box-shadow: 0 7px 0 1px var(--rock-dark);
}

.action-inner {
   background-color: white;
   border-radius: 50%;
   height: 100%;
   width: 100%;
   transform-origin: center;
   transform: scale(0.75);
   box-shadow: inset 0 10px 0 1px rgb(204, 204, 204);
}

.action-inner img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50%;
}

/* Picked Results */

.display-column {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.display-box {
   display: grid;
   padding-top: 100px;
   grid-template-rows: auto;
   justify-items: center;
   align-items: center;
}

.display-box div {
   grid-area: 1 / 1 / 1 / 1;
}

.dark-circle {
   background-color: var(--radial-gradient-1);
   box-shadow: none;
}

#picked-page .action {
   transform: scale(1.5);
}

#picked-page .grid-container {
   width: 60%;
   margin: 0 auto;
}

.gradient-circle {
   z-index: -10;
   border-radius: 50%;
   background-color: var(--win-1);
   width: 15vw;
   height: 15vw;
   transform-origin: center;
   transform: scale(3);
   opacity: 0.9;
}

.second {
   transform: scale(0.8);
   background-color: var(--win-2);
}

.third {
   transform: scale(0.6);
   background-color: var(--win-3);
}

#result-text-display {
   align-text: center;
}

#result-text-display {
   text-align: center;
}

.btn {
   font: inherit;
   font-size: 12px;
   letter-spacing: 2px;
   text-transform: uppercase;
   border-radius: 5px;
   margin: 1rem;
   padding: 0.7rem 2rem;
   cursor: pointer;
   outline: none;
}

.btn:hover {
   filter: brightness(120%);
}

#play-again {
   border: none;
   color: var(--dark-text);
}

#play-again:hover {
   color: var(--rock-light);
}

#rule-btn {
   position: fixed;
   bottom: 0;
   right: 0;
   background-color: transparent;
   border: 2px solid white;
   color: white;
}

.attribution {
   position: absolute;
   width: 50%;
   font-size: 10px;
   left: 15px;
   bottom: 15px;
}

.attribution a {
   color: white;
   text-decoration: underline;
}

@media screen and (max-width: 1400px) {
   #result-text-display {
      order: 3;
      padding-top: 2rem;
      grid-column: 1 / span 2;
      justify-self: center;
   }

   #picked-page .grid-container {
      width: 80%;
   }
}

@media screen and (max-width: 850px), (max-height: 750) {
   .title-bar {
      width: 70%;
   }

   .action {
      min-height: 150px;
      min-width: 150px;
   }
}

@media screen and (max-width: 600px) {
   .action {
      min-height: 100px;
      min-width: 100px;
      margin: 1rem;
   }

   .triangle {
      height: 60%;
   }

   .logo {
      width: 40vw;
      height: 50%;
   }

   .display-box {
      padding-top: 50px;
   }

   #picked-page .action {
      transform: scale(1);
   }

   .scoreboard p {
      font-size: calc(max(16px, 1vw));
   }

   h1 {
      font-size: 40px;
   }

   h3 {
      font-size: 20px;
   }
}

.hide {
   display: none;
}
